<app-data-table-container>

	<app-data-table-button-container>
		<a class="btn btn-success icon" [routerLink]="['../','new']">
			<i class="mdi mdi-plus"></i>
			{{'add' | translate}}
		</a>
	</app-data-table-button-container>

	<app-data-table [dataSource]="dataSource" [config]="dtConfig">


		<table cdk-table [dataSource]="dataSource" class="table table-striped">

			<ng-container *ngFor="let field of fields" [cdkColumnDef]="field.name">
				<th cdk-header-cell *cdkHeaderCellDef [dtSortable]="field.name"> {{field.name}} </th>
				<td cdk-cell *cdkCellDef="let element"> {{element[toLowerCamelCase(field.name)]}} </td>
			</ng-container>

			<ng-container cdkColumnDef="options">
				<th cdk-header-cell *cdkHeaderCellDef> {{'options' | translate}} </th>
				<td cdk-cell *cdkCellDef="let element">
					<a class="btn-icon" (click)="delete(element.id)"><i class="mdi mdi-delete"></i></a>
					<a class="btn-icon"  [routerLink]="['../','edit',element['id']]"><i class="mdi mdi-pencil"></i></a>
				</td>
			</ng-container>

			<tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
			<tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>

		</table>

	</app-data-table>
</app-data-table-container>
