<form *ngIf="form" [formGroup]="form" (validSubmit)="formSubmit()">
	<ng-container *ngFor="let component of components">
		<div class="form-group" *ngIf="component.name != 'Id'">
			<label for="id-{{component.name}}">{{component.title}}</label>

			<input type="text" class="form-control"  *ngIf="component.type=='TextFieldComponent'"
				   [formControlName]="toLowerCamelCase(component.name)"
				   id="id-{{component.name}}" placeholder="{{component.title}}">

			<input type="number" class="form-control"  *ngIf="component.type=='NumberFieldComponent'"
				   [formControlName]="toLowerCamelCase(component.name)"
				   id="id-{{component.name}}" placeholder="{{component.title}}">
		</div>
	</ng-container>

	<button type="submit" [disabled]="!form.valid" class="btn btn-primary">ثبت</button>
</form>
