.pagination-next, .pagination-prev, .pagination-first, .pagination-last {
	font-family: 'Material Design Icons';
	.page-link {
		padding: .5rem .5rem;
	}
}

.pagination {
	padding-right: .75rem;
	.page-item.disabled {
		opacity: .5;
		&:hover
		{
			background-color: transparent;
		}
	}
}
