.time-sheet-view {
	overflow: visible;
	margin-bottom: 0;

	thead th {
		padding: .9em;
	}

	th {
		padding: .8em;
	}

	thead th, td {
		text-align: center;
	}

	thead th:first-child {
		text-align: right;
	}

	tr {
		border-bottom: 1px solid map_get($colors, 'light');
	}

	tr:last-child {
		border-bottom: none;
	}

	tr:first-child th:first-child {
		border-top-right-radius: $main-radius;
	}

	tr:last-child th:first-child {
		border-bottom-right-radius: $main-radius;
	}

	th:first-child, td:first-child {
		z-index: 100;
		position: sticky;
		right: 0;
		background-color: white;
		vertical-align: middle;
		border-left: 1px solid $my_light-color;
	}

	.ng-select .ng-select-container {
		margin-bottom: 0 !important;
	}

	.ng-dropdown-panel {
		position: relative !important;
	}
}
