.toast-container {
	.ngx-toastr {
		border-radius: $main-radius;
		transition: $main-transition;
		box-shadow: 0 6px 7px -2px rgba(0, 0, 0, .2);

		&:hover {
			box-shadow: 0 6px 9px -2px rgba(0, 0, 0, .275);
		}
	}
}

@each $key, $color in $colors {
	.toast-#{$key} {
		background-color: $color;
	}
}
