.wd-container {
	width: 250px;
	background-color: white;
	box-shadow: $main-shadow;
	border-radius: 100px;
	margin: 0 auto 15px auto;

	display: flex;
	justify-content: space-between;
	align-items: center;

	.wd-title {
		font-weight: bold;
		font-size: 1.2em;
	}

	.we-btn {
		background-color: $my-light-color;
		border-radius: 100px;
		margin: 5px;

		i {
			position: relative;
			top: 1px;

			&::before {
				transform: scale(1.6);
			}
		}

		&:hover {
			background-color: $my-primary-color;
			i {
				color: white;
			}
		}
	}
}
