<k-sidebar-header>
	<div class="d-flex align-items-center">
		<img src="./assets/img/kican-logo.png" alt="logo" width="30">
		<h5 class="font-weight-bold p-3 mt-2 text-muted">پنل کیکان</h5>
	</div>
</k-sidebar-header>
<k-sidebar-group [title]="'مدیریت'">
	<ul k-sidebar-items-container>
		<li><a [routerLink]="['/']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" k-sidebar-item
			   [label]="'پیشخوان' | translate" [iconClass]="'mdi mdi-view-dashboard'"></a>
		</li>
		<li><a [routerLink]="['/sms-notification']" [routerLinkActive]="'active'" k-sidebar-item
			   [label]="'اطلاعیه پیامکی' | translate" [iconClass]="'mdi mdi-message-alert'"></a>
		</li>
		<li k-sidebar-dropdown-item [label]="'موجودیت ها'" [iconClass]="'mdi mdi-view-list'">
			<ul k-sidebar-items-container>
				<li>
					<a [routerLink]="'/entity/airlineAgency/list'" [routerLinkActive]="'active'" k-sidebar-item
					   [label]="'آژانس هواپیمایی'" [iconClass]="'mdi mdi-airplane'"></a></li>
				<li>
					<a [routerLink]="'/entity/airportTerminal/list'" [routerLinkActive]="'active'"
					   k-sidebar-item [label]="'پایانه هواپیمایی'" [iconClass]="'mdi mdi-airplane-takeoff'"></a>
				</li>
				<li>
					<a [routerLink]="'/entity/airport/list'" [routerLinkActive]="'active'"
					   k-sidebar-item [label]="'پایانه هواپیمایی'" [iconClass]="'mdi mdi-airplane-takeoff'"></a>
				</li>
				<li><a [routerLink]="'/entity/city/list'" [routerLinkActive]="'active'" k-sidebar-item
					   [label]="'شهر ها'" [iconClass]="'mdi mdi-city'"></a></li>
				<li><a [routerLink]="'/entity/countries/list'" [routerLinkActive]="'active'" k-sidebar-item
					   [label]="'کشور ها'" [iconClass]="'mdi mdi-flag'"></a></li>
			</ul>
		</li>
	</ul>
</k-sidebar-group>
