<div class="row">
	<div class="col-md-6 col-sm-12">
<!--		<pagination-->
<!--			[totalItems]="totalItems"-->
<!--			[itemsPerPage]="itemPerPage"-->
<!--			(pageChanged)="pageChanged($event)"-->
<!--			[rotate]="true"-->
<!--			[maxSize]="3"-->
<!--			nextText="󰅁"-->
<!--			previousText="󰅂"-->
<!--			firstText="󰘁"-->
<!--			lastText="󰘀"-->
<!--			boundaryLinks="true"-->
<!--			[(ngModel)]="currentPage">-->
<!--		</pagination>-->
	</div>
	<div class="col-md-6 col-sm-12">
		<p class="pagination-data">{{paginationDescription}}</p>
	</div>
</div>
